.header-iniciar-sesion{
    background-color: white;
}

.iniciar-sesion{
    background-image: url('https://plus.unsplash.com/premium_photo-1682148926558-1193cab1b79b?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.container{
    background-color: rgba(128, 128, 128, 0.599);
    margin-bottom: 4rem;
}