.contenedor{
    justify-content: center;
    h1{
        text-align: center;
        margin: 1rem;
    }
    .contenedor-formulario{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 60% 40%;
        justify-content: center;
        padding: 2rem;
        .formulario{
            padding: 1rem;
            form {
                input{
                    display: block;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    margin: 1rem 0rem;
                }
                .mensaje{
                    height: 8rem;
                }
            }
        }
        .datos-de-contacto{
            background-color: dimgray;
            margin: 1rem;
            align-items: center;
            h3{
                color: white;
                width: 100%;
                text-align: center;
                font-size: 2rem;
                padding: 1rem;
                margin-top: 2rem;
            }
            .bloque{
                margin: 0.75rem;
                div{
                    display: flex;
                    flex-wrap: wrap;
                    color: white;
                    justify-content: center;
                }
            }
        }
    }
}

.mapa{
    width: 100%;
    padding: 2rem;
    align-items: center;
}