@mixin grid($columnas,$filas,$tamanocolumnas,$tamanofilas) {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat($columnas,$tamanocolumnas);
    grid-template-rows: repeat($filas,$tamanofilas);
}